* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEFEE;
    max-width: 800px;
    margin: 0 auto;
    color: #3D3F40;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 350px
}

nav {
    background-color: #3D3F40;
    width: 95%;
    border-radius: 20%;
    padding: 0.5rem;
    margin: 1rem auto;
}

nav ul {
    list-style: none;
    text-align: center;
    
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

main {
    margin-top: 2rem;
}

section {
    display: flex;
    margin-top: 2rem;
}

article {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    display: flex;
    width: 95%;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
}

footer div {
    width: 45%;
}

footer div p{
    text-align: end;
}

footer img {
    width: 100%;
}

.articleImage {
    width: 90%;
    margin: 1rem auto;
}

article  p {
    text-align: justify;
}

.links {
    text-decoration: none;
    font-size: 1.5rem;
    color: #EDEFEE;
}

.links:hover, .links:active {
    color: lightcoral;
}